//MIXINS//

@mixin buttonDown {
  border: transparent;
  outline: transparent;
  background: transparent;
  width: 44px;
  height: 44px;
}

.datepicker-wrapper {
  width: 150px;
  height: 65px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}

label {
  @include font-title(uppercase, bold, 12px, #1F2041);
}

.datepicker__input-wrapper {
  display: flex;
  align-items: center;
  width: 150px;
  height: 44px;
  margin-top: 5px;
  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;

}

.datepicker__input {
  width: 87px;
  height: 24px;
  margin-left: 15px;
  outline: transparent;
  border: transparent;
  @include plain-text(rgba(31, 32, 65, 0.75), 18px)
}

.datepicker__button-arrow-down {
  @include buttonDown

}

.guests {
  width: 320px;
  height: 65px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}

.guests__input-wrapper {
  display: flex;
  justify-content: space-between;
  width: 320px;
  height: 44px;
  margin-top: 5px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
}

.guests__input {
  border: transparent;
  outline: transparent;
  margin-left: 15px;
  @include plain-text(rgba(31, 32, 65, 0.75), 18px, )
}

.guests__button-arrow-down {
  @include buttonDown
}

.buttonSubmit-wrapper {
  display: flex;
  align-items: center;



  width: 320px;
  height: 44px;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border-radius: 22px;
  border: transparent;

}

.buttonSubmit {
  @include font-title(uppercase, bold, 12px, #FFFFFF);
  border: transparent;
  background: transparent;
  outline: transparent;

  margin-left: 92px;
  margin-right: 46px;

}

.datepicker--cell{
  border-radius:22px;
  box-sizing:border-box;
  cursor:pointer;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  position:relative;
  -webkit-align-items:center;
  -ms-flex-align:center;
  align-items:center;
  -webkit-justify-content:center;
  -ms-flex-pack:center;
  justify-content:center;
  height:32px;
  z-index:1
}

.datepicker--cell.-current- {
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  color: #FFFFFF;
}

.datepicker {
  font-family: Montserrat;
}

.datepicker--day-name {
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: #BC9CFF;
  text-transform: none;
}

.datepicker--nav-title:hover {
  background: #FFFFFF;
}

.datepicker--nav-title, .datepicker--nav-title i {
  font-family: Open sans;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  color: #1F2041;
}