//MIXINS//

@mixin buttonDown {
  border: transparent;
  outline: transparent;
  background: transparent;
  width: 44px;
  height: 44px;
}

.datepicker-wrapper {
  width: 150px;
  height: 65px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}

label {
  @include font-title(uppercase, bold, 12px, #1F2041);
}

.datepicker__input-wrapper {
  display: flex;
  align-items: center;
  width: 150px;
  height: 44px;
  margin-top: 5px;
  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;

}

.datepicker__input {
  width: 87px;
  height: 24px;
  margin-left: 15px;
  outline: transparent;
  border: transparent;
  @include plain-text(rgba(31, 32, 65, 0.75), 18px);


}

.datepicker__button-arrow-down {
  @include buttonDown

}

.guests {
  width: 320px;
  height: 65px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}

.guests__input-wrapper {
  display: flex;
  justify-content: space-between;
  width: 320px;
  height: 44px;
  margin-top: 5px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
}

.guests__input {
  border: transparent;
  outline: transparent;
  margin-left: 15px;
  @include plain-text(rgba(31, 32, 65, 0.75), 18px, )
}

.guests__button-arrow-down {
  @include buttonDown
}

.buttonSubmit-wrapper {
  display: flex;
  align-items: center;



  width: 320px;
  height: 44px;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border-radius: 22px;
  border: transparent;

}

.buttonSubmit {
  @include font-title(uppercase, bold, 12px, #FFFFFF);
  border: transparent;
  background: transparent;
  outline: transparent;

  margin-left: 92px;
  margin-right: 46px;

}

.datepickers-container {
  position: absolute;
  left: -16px;
  top: 6px;

}

.datepicker--cells {
  display: flex;
  flex-wrap: wrap;
  width: 280px;
  height: 240px;

}

.datepicker--cell{
  border-radius:22px;
  box-sizing:border-box;
  cursor:pointer;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  position:relative;
  -webkit-align-items:center;
  -ms-flex-align:center;
  align-items:center;
  -webkit-justify-content:center;
  -ms-flex-pack:center;
  justify-content:center;
  width: 40px;
  height: 40px;
  z-index:1
}

.datepicker {
  font-family: Montserrat;
  width: 319px;
  height: 369px;
  font-size: 12px;
  line-height: 15px;
  border: 1px solid rgba(31,32,65,.25);
  box-shadow: 0 10px 20px rgba(31,32,65,.05);
  border-radius: 4px;


}


.datepicker--content {
  margin: 0px 20px 0px 20px;
  padding: 4px;
}


.datepicker--day-name {
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: #BC9CFF;
  text-transform: none;
}

.datepicker--nav {
  display: flex;
  justify-content: space-between;
  border-bottom: none;
  min-height: 32px;
  margin-top: 10px;


}

.datepicker--nav-title:hover {
  background: #FFFFFF;
}

.datepicker--nav-title, .datepicker--nav-title i {
  font-family: Open sans;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  color: #1F2041;
}

.datepicker--cell.-focus- {
  background: linear-gradient(180deg,#bc9cff,#8ba4f9);
  color: #FFFFFF;

}
.datepicker--cell.-current- {
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border-radius: 50%;
  color: #FFFFFF;
  font-weight: bold;
}
.datepicker--cell.-current-.-focus- {
  color: #FFFFFF;
}
.datepicker--cell.-current-.-in-range- {
  color: #4EB5E6;
  border-radius: 50%;
  z-index: 0;
  position: relative;
  &::after {
    background: linear-gradient(180deg,rgba(188,156,255,.25),rgba(139,164,249,.25));
    position: absolute;

    content: "";
    width: 100%;
    height: 100%;
    right: 0;
    top: 0;
    z-index: -1;
  }


}
.datepicker--cell.-in-range- {
  background: linear-gradient(180deg,rgba(188,156,255,.25),rgba(139,164,249,.25));


}
.datepicker--cell.-in-range-.-focus- {
  background-color: rgba(92, 196, 239, .2);

}

.datepicker--cell.-range-from-.-range-to- {
  border-radius: 50%;

}

.datepicker--cell.-range-from- {
  border: none;
  background-color: rgba(92, 196, 239, .1);
  border-radius: 50%;
  z-index: 0;
  position: relative;
  &::before {
    background: linear-gradient(180deg,rgba(188,156,255,.25),rgba(139,164,249,.25));
    position: absolute;

    content: "";
    width: 50%;
    height: 100%;
    right: 0;
    top: 0;
    z-index: -1;
  }
}
.datepicker--cell.-range-to- {
  border: none;
  background-color: rgba(92, 196, 239, .1);
  border-radius: 50%;
  position: relative;
  z-index: 1;


  &::after {
    background: linear-gradient(180deg,rgba(188,156,255,.25),rgba(139,164,249,.25));
    position: absolute;
    z-index: -1;
    content: "";
    width: 50%;
    height: 100%;
    left: 0;
    top: 0;

  }
}
.datepicker--cell.-selected-, .datepicker--cell.-selected-.-current- {
  color: #fff;
  background: linear-gradient(180deg,#bc9cff,#8ba4f9);
}

.datepicker--cell.-selected- {
  border: none;
  font-weight: bold;
  background: linear-gradient(180deg,#bc9cff,#8ba4f9);

}
.datepicker--cell.-selected-.-focus- {
  background: linear-gradient(180deg,#bc9cff,#8ba4f9);


}

.datepicker--button:hover {
  color: #4a4a4a;
  background: #FFFFFF;
}

.datepicker--buttons {
  display: flex;
  align-items: center;
  border-top: none;
}

.datepicker--button {

  cursor: pointer;
  border-radius: 4px;
  flex: 1;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 32px;
}

.datepicker--buttons :first-child {
  @include font-title(uppercase, bold, 12px, #BC9CFF);
  justify-content: flex-start;
  padding-left: 20px;
}

.datepicker--buttons :last-child {
  @include font-title(uppercase, bold, 12px, #BC9CFF);
  justify-content: flex-end;
  padding-right: 20px;
}