@mixin buttonDown {
  border: transparent;
  outline: transparent;
  background: transparent;
  width: 44px;
  height: 44px;
}

.form {
  position: absolute;
  width: 380px;
  height: 374px;
  left: 140px;
  top: 140px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;

}

.form__textContent {
  width: 320px;
  height: 60px;
  font: {
    family: Open Sans;
    style: normal;
    size: 24px;
    weight: 700;
  }
  line-height: 30px;
}

.form__datePickers {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 320px;

}

.guests {
  width: 320px;
  height: 65px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}

.guests__input-wrapper {
  display: flex;
  justify-content: space-between;
  width: 320px;
  height: 44px;
  margin-top: 5px;
  border: 1px solid rgba(31, 32, 65, 0.5);
  box-sizing: content-box;
  border-radius: 4px;
  position: relative;
}

.guests__input {
  border: transparent;
  outline: transparent;
  margin-left: 15px;
  @include plain-text(rgba(31, 32, 65, 0.75), 18px, )
}

.guests__button-arrow-down {
  @include buttonDown
}