mixin inputDatepicker(labelText, id)
  .datepicker-wrapper
    label(for=`${id}`)= `${labelText}`
    .datepicker__input-wrapper
      input.datepicker__input.datepicker-here(type='text', id=`${id}`, placeholder="ДД.ММ.ГГГГ" data-position='right top', data-timepicker="false")
      button.datepicker__button-arrow-down
        +arrowDown(12, 8)

.form
  .form__textContent Найдём номера под ваши пожелания
  .form__datePickers
    +inputDatepicker('Прибытие', 'start')
    +inputDatepicker('Выезд', 'end')
  .guests
    label(for="guests") Гости
    .guests__input-wrapper
      input.guests__input(type="text", id="guests", placeholder="Сколько гостей")
      button.guests__button-arrow-down
        +arrowDown(12, 8)
  .buttonSubmit-wrapper
    button.buttonSubmit Подобрать номер
    +arrowForward(`${white}`)

