.logo-wrapper {
  position: relative;
  width: 105.69px;
  height: 40px;
  // margin-right: 285.31px;
}

.logo-wrapper-margin {
  position: relative;
  width: 105.69px;
  height: 40px;
  margin-right: 285.31px;
}


.arc_1 {
  position: absolute;
  left: 9.41px;
  top: 15.29px;
}

.arc_2 {
  position: absolute;
  left: 21.47px;
  top: 9.29px;

}

.toxin {
 position: absolute;
 width: 53.19px;
 height: 12.95px;
 left: 52.5px;
 top: 13.33px;

}