p.dropdown-title Прибытие
   select(name='select', size='3', multiple='')
    option(selected='', value='s1') Чебурашка
    option(value='s2') Крокодил Гена
    option(value='s3') Шапокляк
    option(value='s4') Крыса Лариса

